* {
    font-family: 'Archivo', sans-serif;
    box-sizing: border-box;
}

.contain {

    width: 85%;
    height: 80vh;
    margin: 80px;
    margin-left: 7%;
    background-image: url(images/background-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 5%;
}

.main-item-1 {
    padding-top: 20%;
    padding-left: 5%;
    color: white;
}

.main-item-1 h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;

}

.main-item-1 p {
    font-size: 25px;
    font-weight: 200;
}

.main-item-1 button {
    padding: 20px 60px;
    background-color: #d90429;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 15%;

}

.main-item-1 button a {
    text-decoration: none;
    font-family: font-family: 'Anton', sans-serif;
    ;
    color: #fff;
    font-size: 25px;
    padding-right: 2px;

}

.main-item-1 button:hover {

    background-color: #ffd60a;
    padding: 20px 60px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 15%;
}

.main-item-1 button a:hover {
    color: #d90429;
    font-size: 25px;
    font-weight: bold;
    padding-right: 2px;
}

.second-part {
    display: flex;
    justify-content: center;


}



.nav-ber ul {
    background-color: black;
    width: 100%;
    padding: 50px 25px;
    border-radius: 5px;

}

.nav-ber ul li {
    background-color: aliceblue;
    padding: 10px 26px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;

}

.nav-ber ul li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

#Makerd {
    background-color: #d90429;
}


.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.box-1 {
    padding: 20px;
}

.box-1 img {
    width: 100%;

}